{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h2>nodeJS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quia distinctio, molestiae maxime ab illum odio neque modi tempora assumenda voluptate? Modi temporibus est excepturi, voluptas illo ipsa necessitatibus sequi!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/img.png" class="img-thumbnail">
    </div>
</div>


{{> footer}}